<div class = "container">
  <% if @book.errors.any? %>
    <%= @book.errors.count %>error prohibited this obj from being saved:
    <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  <div class = "row">
    <div class = "col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
    <h1>Editing Book</h1>
    <%= form_with model:@book do |f| %>
      <%= f.label :Title %><br>
      <%= f.text_field :title %><br>
      <%= f.label :Opinion %><br>
      <%= f.text_area :body %><br>
      <div class="actions">
        <%= f.submit class: "btn btn-primary" %>
      </div>
    <% end %>
    <%= link_to "Show" , book_path(@book.id) %>
    <span>|</span>
    <%= link_to "Back" , books_path %>

    </div>
  </div>
</div>